/* ===========================
   LOGIN PAGE
=========================== */

.login-container{

    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#EEF2FF,#E0E7FF);
    /* background:linear-gradient(135deg,#90a5d3,#847fde); */

    padding:25px;
}

/* ===========================
   LOGIN CARD
=========================== */

.login-card{

    width:980px;
    height:560px;

    display:flex;

    background:#ffffff;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 18px 45px rgba(0,0,0,.20);

}

/* ===========================
   LEFT PANEL
=========================== */

.left-panel{

    width:42%;
    background: linear-gradient(180deg,#4338CA,#6366F1);
    /* background:linear-gradient(180deg,#1E40AF,#2563EB); */

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:50px;

    text-align:center;

}

.brand{

    width:100%;

}

.logo{

    width:90px;
    height:90px;

    margin:0 auto 35px;

    border-radius:50%;

    background:white;

    color:#2563EB;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    font-weight:bold;

    box-shadow:0 8px 20px rgba(255,255,255,.25);

}

.left-panel h1{

    font-size:42px;

    line-height:55px;

    margin-bottom:30px;

    font-weight:700;

}

.left-panel p{

    font-size:20px;

    line-height:34px;

    opacity:.9;

}

/* ===========================
   RIGHT PANEL
=========================== */

.right-panel{

    width:58%;

    padding:45px 50px;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.right-panel h3{

    font-size:46px;

    color:#1F2937;

    margin-bottom:8px;

}

.subtitle{

    color:#6B7280;

    font-size:18px;

    margin-bottom:35px;

}

/* ===========================
   FORM
=========================== */

.form-group{

    margin-bottom:22px;

}

label{

    display:block;

    margin-bottom:8px;

    font-size:16px;

    font-weight:600;

    color:#374151;

}

input[type=email],
input[type=password]{

    width:100%;

    height:30px;

    padding:0 18px;

    border:1px solid #D1D5DB;

    border-radius:10px;

    font-size:15px;

    background:#F9FAFB;

    transition:.3s;

}

input:focus{

    outline:none;

    border-color:#2563EB;

    background:white;

    box-shadow:0 0 0 4px rgba(37,99,235,.15);

}

/* ===========================
   REMEMBER ME
=========================== */

.options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin:13px 0 20px;

}

.remember{

    display:flex;

    align-items:center;

    gap:10px;

    font-size:15px;

    color:#374151;

}

.remember input{

    width:18px;
    height:18px;

}

.options a{

    text-decoration:none;

    color:#4F46E5;

    font-size:15px;

}

.options a:hover{

    text-decoration:underline;

}

/* ===========================
   LOGIN BUTTON
=========================== */

.login-btn{

    width:100%;

    height:30px;

    border:none;

    border-radius:10px;

    background:#4F46E5;

    color:white;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.login-btn:hover{

    background:#4338CA;

    transform:translateY(-2px);

    box-shadow:0 10px 18px rgba(37,99,235,.30);

}

/* ===========================
   DIVIDER
=========================== */

.divider{

    display:flex;

    align-items:center;

    margin:20px 0;

}

.divider::before,
.divider::after{

    content:"";

    flex:1;

    height:1px;

    background:#D1D5DB;

}

.divider span{

    margin:0 18px;

    color:#6B7280;

    font-size:15px;

}

/* ===========================
   SOCIAL BUTTONS
=========================== */

.google-btn,
.microsoft-btn{

    width:100%;

    height:48px;

    border:1px solid #D1D5DB;

    border-radius:10px;

    background:white;

    cursor:pointer;

    font-size:15px;

    margin-bottom:15px;

    transition:.3s;

}

.google-btn:hover,
.microsoft-btn:hover{

    color:white;
    background:#4F46E5;

    border-color:#2563EB;

}

/* ===========================
   REGISTER
=========================== */

.register{

    margin-top:15px;

    text-align:center;

    color:#6B7280;

    font-size:15px;

}

.register a{

    color:#4F46E5;

    text-decoration:none;

    font-weight:600;

}

.register a:hover{

    text-decoration:underline;

}

/* ===========================
   RESPONSIVE
=========================== */

@media(max-width:900px){

    .login-card{

        width:95%;

        height:auto;

        flex-direction:column;

    }

    .left-panel{

        width:100%;

        padding:35px;

    }

    .right-panel{

        width:100%;

        padding:35px;

    }

    .left-panel h1{

        font-size:32px;

        line-height:40px;

    }

}